body {text-align: center;}

h1 {text-align: center; font-size: 3em;}

h2 {text-align: center; font-size: 2em;}

.gameBoard {background-color: white; width: 80%; height: 600px; display:flex; flex-direction: column; margin: auto;}

.row {display: flex;justify-content: center;}

.square {width: 30%; height: 200px;}

#one {border-bottom: 2px solid white; border-right: 2px solid white;}

#two {border-bottom: 2px solid white;}

#three {border-bottom: 2px solid white; border-left: 2px solid white;}

#five {border-left: 2px solid white; border-right: 2px solid white;}

#seven {border-top: 2px solid white; border-right: 2px solid white;}

#eight {border-top: 2px solid white;}

#nine {border-top: 2px solid white; border-left: 2px solid white;}

.square {text-align: center; background-color: black;}

.square img {width: 80%; height: 80%; margin: 20px auto;}

button {text-align: center; padding 10px; border: 3px solid red; margin: 30px; font-size: 2em;
        background-color: black; color: white; border-radius: 20px;}

button:hover {background-color: white; color: black;}
